/* CSS HEX
    --raisin-black: #1a181fff;
    --deep-space-sparkle: #485a60ff;
    --gunmetal: #2a3640ff;
    --dark-goldenrod: #bb8418ff;
    --falu-red: #802929ff;

    /* CSS HSL
    --raisin-black: hsla(257, 13%, 11%, 1);
    --deep-space-sparkle: hsla(195, 14%, 33%, 1);
    --gunmetal: hsla(207, 21%, 21%, 1);
    --dark-goldenrod: hsla(40, 77%, 41%, 1);
    --falu-red: hsla(0, 51%, 33%, 1);

    */
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Noto+Sans&display=swap');


html{
    background: url(/public/img/icecreambg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    color: #1a181fff;
    font-family: 'Manrope', sans-serif;

    padding-top: 70px;

}

h1, h2, h3 {
   color: #bb8418ff;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
}

ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    float: right;

}
a.active{
    text-decoration: none;
    font-weight: bold;
    color:  #bb8418ff;
}
a{
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;

}

nav{
    grid-area: navigation;
    height: auto;
    clear: both;
    padding-bottom: 70px;
    padding-right: 50px;

}
section{
    max-width: 1000px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.40);
    max-height: 100%;
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px auto auto 200px;
    grid-template-areas:
    "header"
    "navigation"
    "main-content"
    "footer";
    grid-gap: 20px;
}
main{

}
main#content-grid{

}

header{
    grid-area: header;
    background-color: black;
    padding: 50px;
    color: white;
    text-align: center;
    font-size: 30px;
}
