/* CSS HEX
    --raisin-black: #1a181fff;
    --deep-space-sparkle: #485a60ff;
    --gunmetal: #2a3640ff;
    --dark-goldenrod: #bb8418ff;
    --falu-red: #802929ff;

    /* CSS HSL
    --raisin-black: hsla(257, 13%, 11%, 1);
    --deep-space-sparkle: hsla(195, 14%, 33%, 1);
    --gunmetal: hsla(207, 21%, 21%, 1);
    --dark-goldenrod: hsla(40, 77%, 41%, 1);
    --falu-red: hsla(0, 51%, 33%, 1);

    */
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Noto+Sans&display=swap');


html{
    background: url(/public/img/icecreambg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    color: white;
    font-family: 'Manrope', sans-serif;
    padding-top: 70px;
    transition-timing-function: ease-in;

}
.index-table{
    text-align: center;
    margin: auto;
}

h1, h3 {
   color: #bb8418ff;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    text-align: center;
}
h2{
    color: #bb8418ff;
    font-family: 'Noto Sans', sans-serif; 
    text-transform: uppercase;
    font-size: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    float: right;

}
a.active{
    text-decoration: none;
    font-weight: bold;
    color:  #bb8418ff;
}
a{
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;

}

nav{
    grid-area: navigation;
    height: auto;
    clear: both;
    padding-bottom: 70px;
    padding-right: 50px;


}
section{
    max-width: 1000px;
    margin: auto;
    max-height: 100%;
    border-radius: 15px;
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px auto auto 200px;
    grid-template-areas:
    "header"
    "navigation"
    "main-content"
    "footer";
    grid-gap: 20px;
}
main{
    background-color: rgba(72, 90, 96, 0.84);
    border-radius: 15px;
    margin: auto;
    justify-items: center;
}

#content-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
   /* padding: 30px;
    margin: auto;*/

}
#index-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header"
    "button button";
    grid-gap: 20px;
    /* padding: 30px;
   margin: auto;*/
}
.button {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    background-color: #bb8418ff;
    color: white;
    border: 2px solid #bb8418ff;
    border-radius: 12px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.index-button{
    grid-area: button;
    margin: auto;
    justify-items: center;
}

#icecream-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    /* padding: 30px;
   margin: auto;*/

}
.icecream-item{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 10px;
    /* margin: auto;
     */
}
.img-border{
    border-radius: 5px;
}

header{
    grid-area: header;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
}



/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body{
        /*background-color: red;*/
    }
    p{
        font-size: 14px;
    }
    h1{
        font-size: 30px;
    }
    a{
        font-size:  15px;
    }
    /*section.grid-container{*/
    /*    margin: 20px auto;*/
    /*    width: 1000px;*/

    /*}*/

    main{


        grid-template-columns: 1fr 1fr;

    }

    #formReq {
        width: 450px;
        align-content: center;

    }

}

/* Desktop */
@media screen and (min-width: 1025px) {
    body{
        /*background-color: green;*/
    }
    /*section{*/
    /*    margin: 20px auto;*/
    /*    width: 1000px;*/

    /*}*/
    main{

        grid-template-columns: 1fr 1fr;


    }
    #formReq {
        width: 450px;


    }

    p{
        font-size: 14px;
    }
    h1{
        font-size: 30px;
    }
    a{
        font-size:  15px;
    }
}
