<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Create your Ice Cream</title>
</head>
<body>
<section>

    <header>
        <h1>Ice Creamery</h1>
    </header>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="content.html">Content</a></li>
            <li><a href="icecream.html">Ice Cream</a></li>
            <li><a  href="contact.html">Contact</a></li>
        </ul>
    </nav>


    <main >
        <article >
            <div id="app">
                <form v-on:submit.prevent="addIceCream">
                    <label>Create your Ice Cream!</label>
                    <input type="text" placeholder="Name" v-model="newIceCream">
                    <input type="text" placeholder="Flavour" v-model="newFlavour">
                    <input type="text" placeholder="Description" v-model="newDescription">
                    <button>Add</button>
                </form>
                <ul>
                    <li v-for="(icecreams, index) in icecream" :key="icecreams.id" :class="{prio: icecreams.prio}">
                        {{icecreams.id}} {{icecreams.icecreamName}} {{icecreams.icecreamFlavour}} {{icecreams.icecreamContent}} {{icecreams.icecreamDescription}}
                        <button @click="deleteIceCream(index)">Delete</button>
                        <button @click="changePrio(icecreams)">Favorite</button>
                    </li>
                </ul>
            </div>
        </article>


    </main>
</section>

<script src="https://unpkg.com/vue@3"></script>
<script>
  const app = Vue.createApp({
      data: function () {
          return {
              newIceCream: '',
              newFlavour: '',
              newDescription: '',
              icecream: [
                  {
                      id: 1,
                      icecreamName: 'Salty Sailor',
                      icecreamFlavour: 'Licorice',
                      icecreamDescription: 'Licorice flavoured ice cream with salty licorice bits inside!',
                      prio: false
                  }
              ],
              nextIceCreamId: 2
          }
      },
    methods: {
        addIceCream: function () {
            this.icecream.push({
                id: this.nextIceCreamId++,
                icecreamName: this.newIceCream,
                icecreamFlavour: this.newFlavour,
                icecreamDescription: this.newDescription
            })
            this.newIceCream = '', this.newFlavour = '', this.newDescription = ''
        },
        deleteIceCream: function (id) {
            this.icecream.splice(id, 1)
        },
        changePrio: function (id) {
            id.prio = true
        }
    }
  }).mount('#app')
</script>
</body>
</html>