<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>I Scream</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<section class="grid-container" id="app">
    <header>
        <h1>Ice Creamery</h1>
    </header>
    <nav>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="content.html">Content</a></li>
            <li><a class="active" href="icecream.html">Menu</a></li>
            <li><a href="creator.html">Create Ice Cream</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="icecream_Stripe.html"> Stripe</a></li>
            <li><a href="cart.html"><span class="material-symbols-outlined">shopping_cart </span>
            <div class="wrapper"> <!-- THIS CART NEEDS TO BE BETTER LOOKIN' -->
                <i class="fa" style="font-size: 24px;">&#xf07a</i>
                <span> {{ cart.length }}</span>
            </div>
            </a></li>
        </ul>
    </nav>


    <main id="icecream-grid">

        <article class="icecream" v-for="ice in icecream" :key="icecream">
            <div class="divImg">

                <img class="img-border" :src="ice.icecreamImg"
                alt="choclate ice cream in a wafer" width="260">

                <h2 id="productname"> {{ ice.icecreamName }} </h2>
                <p>{{ice.icecreamDescription}}</p>
                <h6 id="price"> Price: ${{ice.icecreamPrice}}</h6>


                <button v-on:click="addToCart(ice), increment();"
                class="button btn-green"
                >Add to Cart </button>

                <button v-on:click="removeFromCart(x), decrement();"
                class="button btn-danger">Remove</button>
            </div>


        </article>

        <section id="shoppingcart">
            <span class="material-symbols-outlined">shopping_cart</span></a>
            <h1>Shopping Cart</h1>
            Quantity: {{ quantity }}
            <ul>
            <li v-for="(product,n) in cart">
                {{ product.icecreamName }} / {{product.icecreamPrice}} $

            </li>

            </ul>
            <h2> Items </h2>
            <p v-if="cart.length"></p>> {{ cart.length }}</p>
            <span class="total" v-for="(product, i) in cart.slice(
                                                       cart.length - 1,
                                                       cart.length)":key="i">
            Total: {{ product.icecreamPrice * cart.length  }} </p> </span>
            <!-- Loops through an array but shows only the last result -->

            <button v-on:click="clearCart()"
            >Clear Cart</button>
            
        </section>
    </main>


<footer>

</footer>

</section>

<script src="https://unpkg.com/vue@3"></script>
<script>
    Vue.createApp({
        data() {
            return {

                icecream: [],
                cart: [],
                quantity: 0

            }
        },
        computed: {

        },
        methods: {
            addToCart(ice){
                this.cart.push(ice);
                this.saveCart();
            },
            removeFromCart(x) {
                if (this.quantity != 0)
                {
                    this.cart.splice(x,1)
                }
                this.saveCart();
            },
            saveCart() {
                let parsed = JSON.stringify(this.cart);
                console.log(this.cart);
                localStorage.setItem('cart', parsed);
            },
            clearCart() {
                this.cart.splice(0);
                this.quantity = 0;
            },
            increment() {
                this.quantity++;
            },
            decrement() {
                if (this.quantity != 0)
                {
                    this.quantity--;
                }
            }
        },
        mounted(){
            //  Try/catch for recieving item to cart
           if(localStorage.getItem('cart')) {
            try {
                this.cart = JSON.parse(localStorage.getItem('cart'));
            } catch(e) {
                localStorage.removeItem('cart');
            }
            }

            fetch('http://localhost:3000/api/icecream')
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    console.log(data);
                    this.icecream = data.icecream;
                });
            }
    }).mount('#app')
</script>

</body>
</html>